body{
    font-family: 'Roboto', sans-serif;
    background-color: #343A40;
}
.navbar-brand {
    padding-bottom: 0px!important;
    padding-top: 0px!important;
    padding-right: 10px!important;
}

nav .container {
    margin-left: 50px;

}

nav {
    box-shadow: 1px 9px 10px #181E36;
}

.about_sec {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #FFF;
}

.about_sec_main {
    background-color: #272743;
}

#carouselExampleIndicators {
    box-shadow: 5px 5px 50px black;
}

.daftar_sec {
    background:linear-gradient(to bottom,#533180,#272743);
    padding-top: 50px;
    padding-bottom: 50px;
    color: #FFF;
}

.daftar_sec button{
    padding-left: 100px;
    padding-right: 100px;
    background-color: #1C223A;
    border-color: transparent;
}

.daftar_sec button:hover {
    background-color: #007BFF;
    border-color: transparent;
}

#login-icon{
    margin-left: 20px;
    color: #C7C7CE;
    margin-top: 12px;
}

#store-icon{
    margin-left: 20px;
    color: #C7C7CE;
    margin-top: 12px;
}

.headmateri {
    background-color: #008080;
    padding-top: 60px;
    padding-bottom: 70px;
    /*padding-left: 200px;
    padding-right: 50px;*/
    color: #FFF;

}

.BGMateri {
    background-color: #F8F9FA;
    /*padding-left: 150px;
    padding-right: 150px;*/
    padding-top: 50px;
    padding-bottom: 50px;
}

.BadanMateri {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 20px;
    border: 1px solid #DFDFDF;
    color: #343A40;
    background-color: #FFF;
}

.BadanMateri li {
    padding-bottom: 10px;
    font-size: 17px;
}

.logotutorlain {
  margin-right: 10px;
}


/*Dropdown css*/

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
